h1{
    font-size: 45px;
}
.formControl{
    width: 70%;
    /* height: 58px; */
    font-size: 20px;
}
body {
    padding-top: 0;
    font-family: Helvetica Neue, Helvetica;
    background: #d0cdcd;
  }